.formCard{
    margin: 0 0;
    width: 500px;
    padding: 0 200px;
}

.title{
    padding: 10px;
}
.form {
    width: 500px;
    padding: 10px;
}

.form label{
    display: block;
    margin-top: 2px;
}

.form input{
    width: 460px;
}

.button{
    display: flex;
    margin-top: 2px;
    text-align: end;
}